<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Portfolio</title>
</head>
<body>
    <h2>Портфолио Логиновой Софьи</h2>
    <p>Здесь будут все мои лабораторные работы</p>
    <div>
        <button><a href="https://github.com/sonyadk/python/tree/gh-pages/3%20SEM">3 SEM</a></button>
        <button><a href="https://github.com/sonyadk/python/tree/gh-pages/4%20SEM">4 SEM</a></button>
        <button><a href="https://github.com/sonyadk/python/tree/gh-pages/5%20SEM">5 SEM</a></button>
        <button><a href="https://github.com/sonyadk/python/tree/gh-pages/6%20SEM">6 SEM</a></button>
        <button><a href="https://github.com/sonyadk/python/tree/gh-pages/7%20SEM">7 SEM</a></button>
    </div>

</body>
</html>